html {
    max-width: 100vw;
    color: #707070;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #707070;
}

body {
    margin: 0px;
    font-family: 'Lato';
    font-size: 15px;
    min-height: 100vh;
    max-width: 100vw;

}

body::-webkit-scrollbar {
    display: none;
}


h3 {
    font-size: 2rem
}

.navbar {
    background-color: #FF8600;
}

.marginNav {
    margin-top: 56px;
}



/*
nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
}

nav ul {
    background-color: #FF8600;
    height: 45px;
    display: flex;
    flex-direction: row;
    color: white;
    margin: 0;
    justify-content: space-around;
    align-items: center;
}

nav li:hover {
    font-weight: bold;
    text-decoration: none;
    color: white;
}
*/

h1 {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 0;
    color: #707070;
}

h2 {
    font-size: 1rem;
    color: #707070;
    margin-top: 5px
}

ul {
    list-style: none;
}


.photoPerso {
    width: 45vh;
    position: relative;
}



.ombrePhoto::before {
    content: "";
    background-image: url(images/ellipseBeige.png);
    position: absolute;
    top: 25%;
    right: -23%;
    width: 400px;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.ombrePhoto::after {
    content: "";
    background-image: url(images/trace.png);
    position: absolute;
    top: 180px;
    left: 90%;
    width: 350px;
    height: 100%;
    background-repeat: no-repeat;
}

.ombreBis {
    position: relative;
}

.ombreBis::after {
    content: "";
    background-image: url(images/double.png);
    position: absolute;
    top: 0;
    left: 0%;
    width: 150px;
    height: 100%;
    background-repeat: no-repeat;
}


.ombreBis::before {
    content: "";
    background-image: url(images/hautDroite.png);
    position: absolute;
    top: 70%;
    left: 10%;
    width: 150px;
    height: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    transform: rotate3d(1, 1, 1, -23deg)
}

#accueil {
    background-image: url(images/Rectangle%2025.png);
    background-position: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    padding-top: 100px;

}

#accueil h1 {
    font-size: 66px;
    font-family: "Tw Cen MT";
    color: #FF8600;
    font-variant-caps: all-small-caps;
    margin-bottom: 20px;
    transition: text-shadow 0.2s;
}

#accueil h1:hover {
    text-shadow: 3px 2px #FFBE00;

}

#accueil h2 {
    font-size: 129px;
    font-family: "Tw Cen MT";
    color: black;
    font-variant-caps: all-small-caps;
    margin-top: -80px;
}


.mathilde::before {
    content: "";
    background-image: url(images/ellipseJaune.png);
    position: absolute;
    right: -32%;
    top: 20px;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    z-index: -1;
    transition: all 0.2s ease-in 0.2s;

}

.mathilde:hover::before {
    transform: scale(1.03);
}

.mathilde::after {
    content: "";
    background-image: url(images/trace.png);
    position: absolute;
    right: -25%;
    top: -15px;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    transform: scale(0.7);
}

.nardeux {
    margin-bottom: 10px
}

#accueil h3 {
    font-size: 45px;
    font-family: "Tw Cen MT";
    color: #FFBE00;
    font-variant-caps: all-small-caps;
    margin-top: -50px;
    transition: text-shadow 0.5s;

}

#accueil h3:hover {
    text-shadow: 2px -1px #FF8600;
}



.accueilBloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.fa-chevron-down {
    font-size: 3.4rem;
    color: #FF8600;
    animation-name: scrollAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: text-shadow 0.3s ease-in 0.1s;

}

.fa-chevron-down:hover {
    text-shadow: 5px 0px #FFBE00;
}


.declencheScroll {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.declencheScroll a {
    margin: auto;
}

.declencheScroll p {
    opacity: 0;
}


.declencheScroll:hover p {
    animation-name: apparitionDouce;
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: apparitionDouce;
}


@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}


.elementPres {
    margin-left: 20px;
    padding: 10px 30px 10px 50px;
    margin-left: -30px;
    margin-right: 180px;
}

main {
    background-color: #EDEED3;
}



/*Présentation*/

/*
.monster {
    width: 37,4px;
    height: 27px;
    background: url('images/spriteEclat.png') left center;
    animation: play 0.5s steps(5) infinite;
    z-index: 5;

}

@keyframes play {
    100% {
        background-position: -187px;
    }
}
*/



#presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}


.aPropos {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: relative;
}

.aPropos h3 {
    margin-bottom: 50px;
    position: relative;
}

.aPropos p {
    padding: 70px;
    background-color: white;
    width: 40vw;
    position: relative;
}



.aPropos p::after {
    content: "";
    background-image: url(images/basGauche.png);
    position: absolute;
    left: -50px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.aPropos p::before {
    content: "";
    background-image: url(images/hautDroite.png);
    position: absolute;
    left: 650px;
    top: 40px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.aPropos .boutonCV {
    border-style: none;
    width: 150px;
    padding: 10px;
    border-radius: 50px;
    background-color: #FFBE00;
    color: white;
    font-size: 15px;
    margin-top: 50px;
    text-align: center;
    transition: box-shadow 0.5s;
}


.aPropos .boutonCV:hover {
    box-shadow: 4px 6px #FF8600;
    z-index: 10;
}

.aPropos a {
    text-align: center;
    z-index: 1;
}


.frise {
    display: flex;
    flex-direction: column;
}

.date {
    font-weight: bold;
}

.uneExperience {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.uneExperience .description {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    padding: 15px;

}

.uneExperience .description .titre {
    font-weight: bold;
    margin-bottom: 0;
}

.point {
    font-size: 1.5rem;
    color: #FFBE00;
}

/* Galerie */
#Galerie {
    padding: 30px;
    position: relative;
    background-image: url(images/bande_haut.png), url(images/bande_milieu.png);
    background-position: top center, bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 110px;
    margin-top: -70px;
    text-align: center;
    max-width: 100vw;

}

#listeProjet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    max-width: 75%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.double {
    grid-row: span 2;
}


#listeProjet .unProjet {
    position: relative;
    justify-items: center;

}

.unProjet:hover .descProjet {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    object-position: contain;
    overflow: hidden;
    justify-content: center;
    vertical-align: center;
    font-size: 1em;
}


.descProjet {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
    background-color: white;
    opacity: 1;
    animation-duration: 0.5s;
    animation-name: apparitionDouce;
    justify-items: center;

}

.descProjet .outil {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.descProjet .outil img {
    max-width: 10%;
    margin-right: 15px;
}



.unProjet img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-items: center;
}

.itemProjet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%
}

.itemProjet img {
    width: 35%;
    object-fit: cover;
    position: relative;
}

.bandeauProj {
    position: absolute;
    object-fit: cover;
    width: 20%;
    height: 80px;
    right: 28%;
    bottom: 9%;
    padding: 0.5rem;

}

.bandeauProj p {
    color: white;
    margin: 0;
}

.bandeauProj a {
    font-size: 0.8rem;
    margin: 0;
    margin-top: -10;
}

.bandeauTitre {
    width: 13%;
    height: 4%;
    position: absolute;
    justify-content: center;
    top: 35%;
    z-index: 2;
    font-weight: bold;
    background-color: #FF8600;
}

.bandeauTitre p {
    margin: auto;
}


.itemProjet img::before {
    content: "";
    background-image: url(images/infog.png);
    position: absolute;
    left: -20px;
    top: 20px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}


/*Compétences*/


#competences {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.infographie,
.devWeb,
.audiovisuel {
    background-color: white;
    width: 250px;
    padding: 20px;
    ;
    margin: 15px;
    text-align: center;
    position: relative;
}

.competences h4 {
    font-size: 1.2rem;
}

.competences {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
    flex-wrap: wrap;
}


.infographie::after {
    content: "";
    background-image: url(images/infog.png);
    position: absolute;
    left: -20px;
    top: 160px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.audiovisuel::after {
    content: "";
    background-image: url(images/devWeb.png);
    position: absolute;
    left: -20px;
    top: 160px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}


.devWeb::before {
    content: "";
    background-image: url(images/audioviHaut.png);
    position: absolute;
    top: -17px;
    left: 268px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}


/* Contact */
#contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 100vw;
}

#contact h3 {
    margin: 0;
}

.formulaireContact {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px 200px 30px 200px;
    background-color: white;
}

.champ {
    display: flex;
    flex-direction: row;
    margin: auto;
}

label {
    margin: 10px
}

input:focus,
textarea:focus {
    border: 2px solid #FFBE00;
    color: black;
}

#contact p {
    margin-bottom: 20px;
}


input,
textarea {
    border-style: none;
    border-radius: 50px;
    width: 100%;
    padding: 15px 25px;
    border: solid 0.5px #707070;
    margin: auto;
    outline: none;
    transition: border 0.3s;
    font-family: 'Lato';

}

fieldset {
    border-style: none;
}

.formulaireContact::after {
    content: "";
    background-image: url(images/basGauche.png);
    position: absolute;
    left: -60px;
    top: 360px;
    width: 100%;
    height: 174px;
    background-repeat: no-repeat;
}

.formulaireContact::before {
    content: "";
    background-image: url(images/hautDroite.png);
    position: absolute;
    left: 730px;
    top: -40px;
    width: 180px;
    height: 100%;
    background-repeat: no-repeat;

}



/* Animation */

@keyframes apparitionDouce {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
